
body {
    background-color: #f8f9fa; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
}





@media (max-width: 768px) {
    
    .display-4 {
        font-size: 2.5rem; 
    }

    .table {
        font-size: 0.9rem;
    }

    .btn {
        padding: 0.3rem 0.6rem;
        font-size: 0.9rem;
    }
}